:root {
	--fg-color: #000;
	--bg-color: #fff;
	--comfy-menu-bg: #353535;
	--comfy-input-bg: #222;
	--input-text: #ddd;
	--descrip-text: #999;
	--drag-text: #ccc;
	--error-text: #ff4444;
	--border-color: #4e4e4e;
	--tr-even-bg-color: #222;
	--tr-odd-bg-color: #353535;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg-color: #fff;
		--bg-color: #202020;
	}
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-size: 15px;
	font-family: Cantarell, Arial, sans-serif;
}

#graph-canvas {
	width: 100%;
	height: 100%;
}

.comfy-multiline-input {
	background-color: var(--comfy-input-bg);
	color: var(--input-text);
	outline: 0;
	overflow: hidden;
	overflow-y: auto;
	padding: 8px;
	border-radius: 4px;
	resize: none;
	border: none;
	box-sizing: border-box;
	font-size: 10px;
}

#comfy-settings-dialog,
.comfy-modal {
	padding: 16px;
	background-color: var(--comfy-menu-bg); /* Modal background */
	color: var(--fg-color);
	box-shadow: 0 0 16px #0005;
	border-radius: 4px;
	font-size: 12px;
}

.comfy-modal {
	display: none; /* Hidden by default */
	flex-direction: column;
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	top: 50%;
	left: 50%;
	max-width: 80vw;
	transform: translate(-50%, -50%);
	overflow: hidden;
	justify-content: center;
}

.comfy-modal-content {
	display: flex;
	max-height: 80vh;
	flex-direction: column;
}

.comfy-modal p {
	margin: 0;
	padding: 0;
	overflow: auto;
	white-space: pre-wrap; /* This will respect line breaks */
}

.comfy-modal select,
.comfy-modal input[type=button],
.comfy-modal input[type=checkbox] {
	margin: 3px 3px 3px 4px;
}

.comfy-menu {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 100000;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	color: var(--fg-color);
	background-color: var(--comfy-menu-bg);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.comfy-menu-btns {
	margin-bottom: 10px;
	width: 100%;
}

.comfy-menu-btns button {
	font-size: 10px;
	width: 50%;
	color: var(--descrip-text) !important;
}

.comfy-toggle-switch,
.comfy-btn,
.comfy-menu > button,
.comfy-menu-btns button,
.comfy-menu .comfy-list button,
.comfy-modal button,
#comfy-settings-dialog button,
#comfy-settings-dialog input,
#comfy-settings-dialog input:not([type]),
#comfy-settings-dialog select,
.litegraph .graphdialog button,
.litegraph .graphdialog input,
.litegraph .graphdialog textarea,
.litegraph .graphdialog select,
.litegraph .graphdialog .value {
	color: var(--input-text);
	background-color: var(--comfy-input-bg);
	border: 0;
	outline: 0;
	margin: 0;
	padding: 4px;
	box-sizing: border-box;
}

.comfy-menu .comfy-list button,
.comfy-modal button,
#comfy-settings-dialog button,
#comfy-settings-dialog input[type=button],
.litegraph .graphdialog button {
	padding: 4px 16px;
}

.comfy-menu .comfy-list button:hover:not(:active),
.comfy-modal button:hover:not(:active),
#comfy-settings-dialog button:hover:not(:active),
#comfy-settings-dialog input[type=button]:hover:not(:active),
#comfy-settings-dialog select:hover:not(:active),
.litegraph .graphdialog button:hover:not(:active) {
	background-color: var(--border-color);
}

.comfy-menu span.drag-handle {
	position: absolute;
	top: 0;
	left: 0;
}

span.drag-handle {
	width: 10px;
	height: 20px;
	display: inline-block;
	overflow: hidden;
	line-height: 5px;
	padding: 3px 4px;
	cursor: move;
	vertical-align: middle;
	margin-top: -.4em;
	margin-left: -.2em;
	font-size: 12px;
	letter-spacing: 2px;
	color: var(--drag-text);
	text-shadow: 1px 0 1px black;
}

span.drag-handle::after {
	content: '.. .. ..';
}

.comfy-list {
	color: var(--descrip-text);
	background-color: var(--comfy-menu-bg);
	margin-bottom: 10px;
	border-color: var(--border-color);
	border-style: solid;
}

.comfy-list-items {
	overflow-y: scroll;
	max-height: 100px;
	min-height: 25px;
	background-color: var(--comfy-input-bg);
	padding: 5px;
}

.comfy-list h4 {
	min-width: 160px;
	margin: 0;
	padding: 3px;
	font-weight: normal;
}

.comfy-list-items button {
	font-size: 10px;
}

.comfy-list-actions {
	margin: 5px;
	display: flex;
	gap: 5px;
	justify-content: center;
}

.comfy-list-actions button {
	font-size: 12px;
}

.comfy-modal.comfy-settings,
.comfy-modal.comfy-manage-templates {
	text-align: center;
	color: var(--descrip-text);
	z-index: 99;
}

.comfy-modal.comfy-settings input[type="range"] {
	vertical-align: middle;
}

.comfy-modal.comfy-settings input[type="range"] + input[type="number"] {
	width: 3.5em;
}

.comfy-modal input,
.comfy-modal select {
	color: var(--input-text);
	background-color: var(--comfy-input-bg);
	border-radius: 8px;
	border-color: var(--border-color);
	border-style: solid;
	font-size: inherit;
}

.comfy-tooltip-indicator {
	text-decoration: underline;
	text-decoration-style: dashed;
}

/* Input popup */

.litegraph .graphdialog {
	min-height: 1em;
	background-color: var(--comfy-menu-bg);
}

.litegraph .graphdialog .name {
	font-size: inherit;
	color: var(--descrip-text);
}

.litegraph .graphdialog button {
	margin-top: unset;
	vertical-align: unset;
	cursor: default;
}

.graphdialog:not(.litesearchbox) input,
.graphdialog textarea {
	font-family: monospace;
}

/* Dialogs */

dialog {
	box-shadow: 0 0 20px #888888;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

#comfy-settings-dialog {
	border: 0;
	width: 41rem;
}

#comfy-settings-dialog table {
	border-spacing: 0;
}

#comfy-settings-dialog table tbody {
	border-radius: 4px;
	border: 1px solid var(--border-color);
	border-bottom: 0;
}

#comfy-settings-dialog table caption {
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: bold;
}

#comfy-settings-dialog table tr {
	font-size: 14px;
}

#comfy-settings-dialog table tr label {
	display: flex;
	width: 100%;
	flex-direction: column;
}

#comfy-settings-dialog table tr label .description {
	color: var(--descrip-text);
	font-size: 12px;
	margin-top: 4px;
}

#comfy-settings-dialog table tr:hover {
}

#comfy-settings-dialog table tr td {
	border-bottom: 1px solid var(--border-color);
}

#comfy-settings-dialog table tr td label,
#comfy-settings-dialog table tr td:last-child {
	padding: 8px;
	box-sizing: border-box;
}

#comfy-settings-dialog table tr > td:first-child {
	user-select: none;
}

#comfy-settings-dialog input:not([type]) {
	width: 100%;
	padding: 8px;
}

/* General CSS for tables */

.comfy-table {
	border-collapse: collapse;
	color: var(--input-text);
	width: 100%;
}

.comfy-table caption {
	font-size: 1rem;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

.comfy-table tr:nth-child(even) {
	background-color: var(--tr-even-bg-color);
}

.comfy-table tr:nth-child(odd) {
	background-color: var(--tr-odd-bg-color);
}

.comfy-table td,
.comfy-table th {
	border: 1px solid var(--border-color);
	padding: 8px;
}

/* Dialog */
.litegraph .dialog .dialog-header .dialog-title {
	font-family: inherit;
	color: var(--fg-color);
}

.litegraph .dialog.settings {
	z-index: 2;
	left: 0;
	top: 33px;
	height: calc(100% - 20px);
	font-family: inherit;
	box-shadow: 4px 0 16px #0005;
	background: var(--bg-color);
	color: var(--fg-color);
	border-radius: 0;
}

.litegraph .dialog .separator {
	border-top: none;
}

.litegraph .dialog .separator,
.litegraph .dialog .dialog-header {
	border-bottom-color: var(--border-color);
}

/* Context menu */

.litegraph .litemenu-entry.has_submenu {
	position: relative;
	padding-right: 20px;
}

.litegraph .graphdialog .name,
.litegraph .litemenu-title {
	display: block;
	background: none;
	text-align: center;
	font-weight: bold;
	color: var(--fg-color);
	margin-bottom: 8px;
	font-size: 13px;
}

.litemenu-entry.has_submenu::after {
	content: "";
	font-family: monospace;
	font-size: 16px;
	position: absolute;
	top: 9px;
	right: 7px;
	width: 6px;
	height: 6px;
	border-top: 2px solid currentColor;
	border-right: 2px solid currentColor;
	transform: rotate(45deg);
}

.litegraph .litemenu-entry.has_submenu {
	border-right: none;
}

.graphdialog,
.litegraph.litecontextmenu,
.litegraph.litecontextmenu.dark {
	z-index: 9999 !important;
	background-color: var(--comfy-menu-bg) !important;
	padding: 4px;
	border-radius: 4px !important;
	box-shadow: 0 0 16px #0005 !important;
	transform-origin: 0 0;
}

.litegraph.litecontextmenu .litemenu-entry:hover:not(.disabled):not(.separator) {
	background-color: var(--bg-color-hover) !important;
	color: var(--fg-color-hover);
	transition: none !important;
}

.litegraph.litecontextmenu .litemenu-entry.submenu,
.litegraph.litecontextmenu.dark .litemenu-entry.submenu {
	background: none !important;
	color: var(--fg-color);
	padding: 6px;
	border-radius: 4px;
	cursor: default;
}

.litegraph.litecontextmenu input {
	background-color: var(--comfy-input-bg) !important;
	color: var(--input-text) !important;
}

.litegraph.litecontextmenu .separator {
	border: 0;
	border-radius: 0;
	border-top: 1px solid var(--border-color);
	width: calc(100% - 8px);
	margin: 4px auto;
}

.comfy-context-menu-filter {
	box-sizing: border-box;
	border: 1px solid #999;
	margin: 0 0 5px 5px;
	width: calc(100% - 10px);
}

.comfy-img-preview {
	pointer-events: none;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
 	align-content: flex-start;
	justify-content: center;
}

.comfy-img-preview img {
	object-fit: contain;
	width: var(--comfy-img-preview-width);
	height: var(--comfy-img-preview-height);
}

.comfy-missing-nodes li button {
	font-size: 12px;
	margin-left: 5px;
}

.comfy-toggle-switch {
	border-width: 2px;
	display: flex;
	background-color: var(--comfy-input-bg);
	margin: 2px 0;
	white-space: nowrap;
}

.comfy-toggle-switch label {
	padding: 2px 0px 3px 6px;
	flex: auto;
	border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.comfy-toggle-switch label:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.comfy-toggle-switch label:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.comfy-toggle-switch .comfy-toggle-selected {
	background-color: var(--comfy-menu-bg);
}

#extraOptions {
	padding: 4px;
	background-color: var(--bg-color);
	margin-bottom: 4px;
	border-radius: 4px;
}

/* Search box */

.litegraph.litesearchbox {
	z-index: 9999 !important;
	background-color: var(--comfy-menu-bg) !important;
	overflow: hidden;
	display: block;
}

.litegraph.litesearchbox input,
.litegraph.litesearchbox select {
	background-color: var(--comfy-input-bg) !important;
	color: var(--input-text);
	margin-right: 8px !important;
}

.litegraph.litesearchbox select:last-of-type {
	margin-right: 0 !important;
}

.litegraph.litesearchbox label {
	font-weight: bold;
	margin-right: 6px;
}

.litegraph.lite-search-item {
	color: var(--input-text);
	background-color: var(--comfy-input-bg);
	padding: 6px;
	cursor: default !important;
}

.litegraph.lite-search-item:hover,
.litegraph.lite-search-item.selected {
	background-color: var(--bg-color-hover);
	color: var(--fg-color-hover);
}

.litegraph.litesearchbox .helper {
	margin-top: 4px;
	border-radius: 4px;
	max-height: 300px;
}

.litegraph.lite-search-item.generic_type {
	color: var(--input-text);
	filter: brightness(50%);
}

.litegraph .graphdialog {
	display: block;
	padding: 8px;
	font-size: 13px;
}

.litegraph .graphdialog button {
	margin-left: 8px;
}

.comfy-queue-btn {
	position: relative;
}

.comfy-queue-btn,
.auto-queue {
	min-width: 32px;
	width: 32px;
	height: 32px;
}

#batchCountInputNumber input {
	font-size: 12px;
	height: 100%;
	width: 48px;
	padding-left: 8px;
}

.comfy-queue-btn button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.comfy-queue-btn .queue-size {
	position: absolute;
	bottom: 2px;
	right: 4px;
	z-index: 2;
	font-family: monospace;
	font-size: 10px;
	color: inherit;
	pointer-events: none;
}

.comfy-menu button,
.comfy-menu input {
	display: inline-flex;
	align-items: center;
	background: none;
	border: none;
	color: inherit;
	outline: 0;
	box-sizing: border-box;
}

.comfy-menu .auto-queue:hover:not(:active),
.comfy-menu button:hover:not(:active) {
	background: var(--bg-color-hover);
	color: var(--fg-color-hover);
}

#batchCountInputNumber {
	background-color: var(--comfy-input-bg);
	text-align: center;
}

.auto-queue {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	user-select: none;
	padding: 2px;
	box-sizing: border-box;
}

.auto-queue label {
	font-size: 10px;
	text-transform: uppercase;
}

#autoQueueCheckbox {
	margin: 0;
}

.icon {
	display: flex;
}

.icon svg {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.icon * {
	fill: currentColor;
}

.comfy-menu button {
	padding: 0 8px;
	font-family: inherit;
}

.comfy-menu button .icon {
	min-width: 18px;
	height: 18px;
	margin-right: 8px;
	margin-left: -1px;
}

.extra-buttons {
	display: flex;
	margin-left: auto;
}

.message-dialog {
	flex-direction: column;
}

.message-dialog .dialog-icon {
	margin-right: 16px;
	width: 32px;
	height: 32px;
	float: left;
}

.message-dialog .comfy-modal-content {
	margin-top: 6px;
	flex-direction: row;
}

.comfy-modal-buttons {
	display: flex;
	margin-top: 16px;
}

.comfy-modal-buttons button {
	width: 100%;
}

.comfy-menu #batchCountInputNumber:hover::before,
.comfy-menu .auto-queue:hover::before,
.comfy-menu button:hover::before {
	content: attr(data-tooltip);
	position: fixed;
	top: 32px;
	left: 0;
	width: 100%;
	text-align: left;
	background-color: var(--bg-color-hover);
	color: var(--fg-color-hover);
	font-size: 12px;
	padding: 4px 8px;
	box-sizing: border-box;
}

.comfy-menu .extra-buttons button:hover::before {
	text-align: right;
}

@media (max-width: 920px) {
	.comfy-menu button {
		font-size: 0;
	}

	.comfy-menu button .icon {
		margin-right: 0;
	}
}

.slider-group {
	display: flex;
}

.slider-group input[type=range] {
	width: 100%;
}

.slider-group input[type=number] {
	margin-left: 8px;
}

.menu-list {
	position: fixed;
	top: 55px;
	right: 0;
}

/* Spinner */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-left: 8px;
	user-select: none;
	opacity: 0;
	transition: opacity .25s;
}

.processing .spinner {
	opacity: 1;
}

.spinner::before {
    content: "";
    display: block;
    width: 8px;
    aspect-ratio: 1 / 1;
    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
    border-top-left-radius: 100px;
    box-sizing: border-box;
    transform-origin: 8px 8px;
    animation: spin .5s linear infinite;
    margin-bottom: 8px;
    margin-right: 12px;
}

.spinner {
	font-family: monospace;
	font-size: 10px;
}

.spinner-node-name,
.spinner-node-progress {
	opacity: 0.7;
}
